{%  block calificaciones_ficha %}
{% load static %}
    <div class="tab-pane" id="messages-2">
        <div class="panel panel-default panel-fill">
            <div class="panel-heading">
                <h3 class="panel-title">My Projects</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="panel-heading">
                            <tr>
                                <th>Materia</th>
                                <th>Primer Trimestre</th>
                                <th>Segundo Trimestre</th>
                                <th>Tercer Trimestre</th>
                                <th>Calificación Final</th>
                                <th>Diciembre</th>
                                <th>Febrero</th>
                                <th>Calificación Definitiva</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% for i in boletin %}
                                <tr>
                                    {% for j in i %}
                                        <td>{{ j }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}