
{% load static %}

<!DOCTYPE html>
<html>
{% load django_template_maths %}
{% block head %}
    {% include 'alcal/blue/head.html' %}
{% endblock %}



<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    {% block topbar %}
        {% include 'alcal/blue/topbar.html' %}
    {% endblock %}

    {% block leftsidebar %}
        {% include 'alcal/blue/leftsidebar.html' %}
    {% endblock %}


</div> <!-- content -->

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->

    <div class="content">
            <div class="container">
                <!-- Page-Title -->
                <div class="row">

                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Inasistencias por curso</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Alcal</a></li>
                            <li><a href="#">Cursos</a></li>
                            <li class="active">Inasistencias por curso</li>
                        </ol>
                    </div>
                </div>
                <div class="row offset1">

                       <div class="col-xs-10 col-xs-offset-1" >
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                    <h3 class="panel-title"> Seleccione Curso y fecha </h3>
                                </div>
                               <div class="panel-body">
                                       <form class="drop form-horizontal" action="/inasistencias_por_curso_guardar" method="POST">{% csrf_token %}
                                           <div class="col-sm-2">
                                               {{ form.cursonombre }}
                                           </div>
                                           <div class="col-sm-4 right">
                                               <div class="input-group">
                                                   {{ form2.fecha }}
                                                   <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                               </div>
                                           </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                <div class="row offset1">
                    <div class="col-xs-10 col-xs-offset-1" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Ingrese inasistencias </h3>
                            </div>
                        <div class="panel-body">
                        <table class="table table-bordered table-striped" id="datatable-editable">
                            <thead>
                            <tr>
                                <th style="width: 1px; white-space: nowrap">Legajo</th>
                                <th style="width: 1px; white-space: nowrap">Orden</th>
                                <th style="width: 1px; white-space: nowrap">Apellido</th>
                                <th style="width: 1px; white-space: nowrap">Nombre</th>
                                <th style="width: 1px; white-space: nowrap">M </th>
                                <th style="width: 1px; white-space: nowrap">T</th>
                                <th style="width: 1px; white-space: nowrap">EF</th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for falta in faltas %}
                                <tr class="gradeX">
                                <td class="col-sm-1">{{ falta.legajo }}</td>
                                <td class="col-sm-1">{{ falta.orden }}</td>
                                <td>{{ falta.apellido }}</td>
                                <td>{{ falta.nombre }}</td>
                                {% if creado %}
                                    <td class="col-lg-1">
                                        <a href="#" id="inline-inasistencia" data-type="select" data-pk="{{ falta.legajo }},{{ falta.fecha }}" data-value={% if not falta.maniana %} 0 {% else %} {{ falta.maniana }} {% endif %} data-title="Seleccione" data-url="/inasistencias_por_curso_guardar" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-name="maniana"></a>
                                    </td>
                                    <td class=col-lg-1>
                                        <a href="#" id="inline-inasistencia2" data-type="select" data-pk="{{ falta.legajo }},{{ falta.fecha }}"  data-value={% if not falta.tarde %} 0 {% else %} {{ falta.tarde }} {% endif %} data-title="Seleccione" data-url="/inasistencias_por_curso_guardar" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-name="tarde"></a>
                                    </td>
                                    <td class="col-lg-1">
                                        <a href="#" id="inline-inasistencia3" data-type="select" data-pk="{{ falta.legajo}},{{ falta.fecha }}"  data-value={% if not falta.ed_fisica %} 0 {% else %} {{ falta.ed_fisica }} {% endif %} data-title="Seleccione" data-url="/inasistencias_por_curso_guardar" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}" data-name="ed_fisica"></a>
                                    </td>
                                {% else %}
                                        <td class="col-sm-1">
                                            {{ form3.maniana }}
                                        </td>
                                        <td class="col-sm-1">
                                            {{ form3.tarde }}
                                        </td>
                                        <td class="col-sm-1">
                                            {{ form3.ed_fisica }}
                                        </td>
                                {% endif %}
                            {% endfor %}
                                </tr>

                            </tbody>
                        </table>
                            </form>
                        </div>
                    </div>

            <!-- end: page -->
            </div> <!-- col -->
        </div> <!-- end Panel -->
    </div>

</div> <!-- container -->
    <footer class="footer text-right">
        2015 © Moltran.
    </footer>

</div> <!-- content -->



<!-- END wrapper -->

{% block scripts_template %}
    {% include 'alcal/blue/scripts_template.html' %}



{% endblock %}

</body>
</html>
