
{% load static %}

<!DOCTYPE html>
<html>
{% load django_template_maths %}
{% block head %}
    {% include 'alcal/blue/head.html' %}
{% endblock %}



<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    {% block topbar %}
        {% include 'alcal/blue/topbar.html' %}
    {% endblock %}

    {% block leftsidebar %}
        {% include 'alcal/blue/leftsidebar.html' %}
    {% endblock %}


</div> <!-- content -->

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->

    <div class="content">
            <div class="container">
                <!-- Page-Title -->
                <div class="row">

                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Inasistencias por curso</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Alcal</a></li>
                            <li><a href="#">Cursos</a></li>
                            <li class="active">Inasistencias por curso</li>
                        </ol>
                    </div>
                </div>
                <div class="row offset1">

                       <div class="col-xs-10 col-xs-offset-1" >
                           <div class="panel panel-default">
                               <div class="panel-heading">
                                    <h3 class="panel-title"> Seleccione Curso y fecha </h3>
                                </div>
                               <div class="panel-body">
                                       <form class="drop form-horizontal" action="inasistencias_por_curso" method="POST">
                                           <div class="col-sm-2">
                                               {% csrf_token %} {{ form.cursonombre }}
                                           </div>
                                           <div class="col-sm-4 right">
                                               <div class="input-group">
                                                   {{ form2.fecha }}
                                                   <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                               </div>
                                           </div>
                                       </form>
                                   <form>

                                   </form>

                                   </div>
                               </div>
                           </div>
                       </div>

                <div class="row offset1">
                    <div class="col-xs-10 col-xs-offset-1" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Ingrese inasistencias </h3>
                            </div>
                        <div class="panel-body">
                        <table class="table table-bordered table-striped" id="datatable-editable">
                            <thead>
                            <tr>
                                <th style="width: 1px; white-space: nowrap">Legajo</th>
                                <th style="width: 1px; white-space: nowrap">Orden</th>
                                <th style="width: 1px; white-space: nowrap">Apellido</th>
                                <th style="width: 1px; white-space: nowrap">Nombre</th>
                                <th style="width: 1px; white-space: nowrap">M </th>
                                <th style="width: 1px; white-space: nowrap">T</th>
                                <th style="width: 1px; white-space: nowrap">EF</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for estudiante in estudiantes %}
                                    {% if anio_elegido == estudiante.curso.anio and division_elegida == estudiante.curso.division %}
                                        <tr class="gradeX">
                                        <td class="col-sm-1">{{ estudiante.legajo }}</td>
                                        <td class="col-sm-1">{{ estudiante.orden }}</td>
                                        <td>{{ estudiante.apellido }}</td>
                                        <td>{{ estudiante.nombre }}</td>
                                        {% if creado %}
                                            <td class="col-lg-1">
                                                <a href="#" id="inline-inasistencia" data-type="select" data-pk="1" data-value=0 data-title="Seleccione"></a>
                                            </td>
                                            <td class=col-lg-1>
                                                <a href="#" id="inline-inasistencia2" data-type="select" data-pk="2" data-value=3 data-title="Seleccione"></a>
                                            </td>
                                            <td class="col-lg-1">
                                                <a href="#" id="inline-inasistencia3" data-type="select" data-pk="3" data-value=4 data-title="Seleccione"></a>
                                            </td>
                                        {% else %}
                                            <td class="col-sm-1">
                                                <input size="1%" class="input-sm">
                                            </td>
                                            <td class="col-sm-1">
                                                <input size="1%" class="input-sm">
                                            </td>
                                            <td class="col-sm-1">
                                                <input size="1%" class="input-sm">
                                            </td>
                                        {% endif %}
                            </tr>
                                        {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                        </div>
                    </div>

            <!-- end: page -->
            </div> <!-- col -->
        </div> <!-- end Panel -->
    </div>

</div> <!-- container -->
    <footer class="footer text-right">
        2015 © Moltran.
    </footer>

</div> <!-- content -->



<!-- END wrapper -->

{% block scripts_template %}
    {% include 'alcal/blue/scripts_template.html' %}



{% endblock %}

</body>
</html>
