{%  block modificar_estudiante %}
    {% load static %}
 <div class="tab-pane" id="profile-2">
        <div class="panel panel-default panel-fill">
            <div class="panel-heading">
                <h3 class="panel-title">Modificar Estudiante</h3>
            </div>
            <div class="panel-body">
                <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">

                    {% csrf_token %}
                    <div class="form-group">
                        {{ form2.curso }}
                        {{ form2.nombre }}
                        {{ form2.apellido }}
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}




